body {
    background-color: #1F2937;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 0%;
    margin: 0%;
}

/*
going insane
*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-section {
    display: flex;
    width: 75%;
    height: 500px;
    flex-direction: column;
}

.nav-wrap {
    width: 100%;
    height: fit-content;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-hook {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navigation{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
}

ul.navigation li {
    display: inline-block;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    height: 200px;
}

.nav-card {
    width: 400px;
}

#btn {
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 120px;
    padding: 5px;
    cursor: pointer;
}